.task-list{
    overflow: overlay;
    border: 1px solid #ffffff9d;
    border-radius: 1rem;
    width: 90%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.line-dark{
    background-color: var(--color-list-dark);
}
.line-light{
    background-color: var(--color-list-ligth);
}

.task-list table {
    width: 80%;
}

tr,td{
    display: flex;
    align-items: center;
    justify-content: center;
}

tr{
    padding: 3px 0;
    min-height: 2rem;
    border-radius: 6px;
    transition: background-color .2s;
}
tr:has([type='checkbox']:checked){
    background-color: #0fc227;
    color: #f5f5f5;
}

td{
    width: 25%;
}


.del{
    cursor: pointer;
    border-radius: 8px;
    padding: 8px 1rem;
    background-color: #c51010;
    color: #f5f5f5;
    font-weight: bold;
}
