
.fog{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #0000006e;
}

.form{
    position: absolute;
    background-color: var(--color-grey);
    min-width: 10rem;
    max-width: 30rem;
    width: 100%;
    height: 17rem;
    border-radius: 1rem;
    box-shadow: 0 0 10px #000;

    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);

    gap: 1rem;
}

.form, .fog {
    visibility: hidden;
    opacity: 0;
    transition: all .2s;
}

.form.active, .fog.active{
    visibility: visible;
    opacity: 1;
}

.form label, .btn-adicionar{
    max-width: 15rem;
    width: 100%;
}
.form label input {
    padding: 6px;
    width: 100%;
}

.btn-adicionar{
    padding: 6px;
}